<!DOCTYPE html>
<html>
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">



    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

     {% load staticfiles %}
    <script src="{% static 'js/jquery-3.3.1.js' %}"></script>
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>


    <script src="{% static 'src/js/posts.js' %}"></script>
    <script src="{% static 'src/js/products.js' %}"></script>

    {% if title %}
        <title>Shopping center - {{ title }}</title>
    {% else %}
        <title>Shop</title>
    {% endif %}
</head>
<body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4" href="{% url 'product-home' %}">Shop-online</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="{% url 'product-home' %}">Products</a>
                <a class="nav-item nav-link" href="{% url 'product:sale' %}">Sale products</a>
                <a class="nav-item nav-link" href="{% url 'cart:home' %}">{{ request.session.cart_items }} <i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
            </div>
            <!-- Navbar Right Side -->
             {% if not request.user.is_authenticated %}
            <div class="navbar-nav">
              <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
              <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
            </div>
              {% endif %}
            {% if request.user.is_authenticated %}
                <div class="navbar-nav">
              <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
            </div>
            {% endif %}
          </div>
        </div>
      </nav>
    </header>
    <main role="main" class="container">
      <div class="row">
        <div class="col">

          {% block content %}

          {% endblock %}
        </div>
        {% if request.user.is_superuser %}
          <div class="col-md-4">
            <div class="content-section">
            <h3>Admin Panel</h3>
            <p class='text-muted'>Choose the command for shop.
              <ul class="list-group">
                <li class="list-group-item list-group-item-light"><a href="{% url 'product:create' %}">Create</a></li>
                <li class="list-group-item list-group-item-light"><a href="{% url 'product:make-sale-on' %}">Make sale</a></li>
                <li class="list-group-item list-group-item-light"><a href="{% url 'product:make_sale_off' %}">Off sale for items</a></li>
              </ul>
            </p>
          </div>
        </div>
      {% endif %}
      </div>
    </main>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


</body>
</html>