{% extends 'base.html' %}
{% load staticfiles %}


{% block content %}
    <div class="post-title">
        <h1>New Product</h1>
    </div>
    <div class="spacer"></div>
    <form class="post-form">
        <div class="line">

            <h>Title:</h>
            <label>
                <input id="id_title_product" name="title" type="text" class="product">
                <p id="id_warning_title" class="invisible   warning-text">This should warn you!!!</p>
            </label>
        </div>
        <div class="line">
            <h> Description:</h>
            <label><textarea cols="40" id="id_description_product" name="description" rows="10" class="product"></textarea>
                <p id="id_warning_description" class="invisible warning-text">This should warn you!!!</p>
            </label>

        </div>
        <div class="line">

            <h>Price:</h>
            <label>
                <input id="id_price_product" name="price" type="text" class="product">
                <p id="id_warning_price" class="invisible warning-text">This should warn you!!!</p>
            </label>
        </div>

        <div class="line">
            <h>Is sale?:</h>
            <label>
                <input id="id_sale_product" name="sale" type="checkbox">
                <p id="id_warning_sale" class="invisible warning-text">This should warn you!!!</p>
            </label>
        </div>


{#        <div class="line">#}
{#            <h>Image</h>#}
{#            <label>#}
{#                <input id="id_image_product" name="image" type="file" accept="image/*">#}
{#                <p id="id_warning_sale" class="invisible warning-text">This should warn you!!!</p>#}
{#            </label>#}
{#        </div>#}

    </form>
    <button id="save_product" class="save btn btn-default">Save</button>


{% endblock %}