{% extends 'base.html' %}
{% load staticfiles %}


{% block content %}
    <div class="post-title">
        <h1>New Product</h1>
    </div>
    <div class="spacer"></div>
    <form class="post-form">
        <div class="form-group">
            <label for="id_title_product">Title:</label>
            <input class="form-control" id="id_title_product" name="title" type="text">
            <p id="id_warning_title" class="invisible   warning-text">This should warn you!!!</p>
        </div>

        <div class="form-group">
            <label for="id_description_product">Description:</label>
            <textarea id="id_description_product" name="description" rows="5" class="form-control"></textarea>
            <p id="id_warning_description" class="invisible warning-text">This should warn you!!!</p>
        </div>

        <div class="form-group">
            <label for="id_price_product">Price:</label>
            <input id="id_price_product" name="price" type="text" class="form-control">
            <p id="id_warning_price" class="invisible warning-text">This should warn you!!!</p>
        </div>

        <div class="form-group">
            <label class="form-check-label" for="id_sale_product">Sale:</label>
            <input id="id_sale_product" name="sale" type="checkbox" class=form-check-input">
            <p id="id_warning_sale" class="invisible warning-text">This should warn you!!!</p>
        </div>


{#        <div class="line">#}
{#            <h>Image</h>#}
{#            <label>#}
{#                <input id="id_image_product" name="image" type="file" accept="image/*">#}
{#                <p id="id_warning_sale" class="invisible warning-text">This should warn you!!!</p>#}
{#            </label>#}
{#        </div>#}

    </form>
    <button id="save_product" class="save btn btn-default">Save</button>


{% endblock %}