{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    {% for obj in object_list %}
{#        <article class="media content-section">#}
{#          <div class="media-body">#}
{#            <div class="article-metadata"></div>#}
{#            <h2><a class="article-title" href="{{ obj.get_absolute_url }}">{{ obj.title }}</a></h2>#}
{#            <p class="article-content">{{ obj.description}}</p>#}
{#          </div>#}
{#        </article>#}
        <div class="row-sm-12">
  <div class="col-sm-12">
    <div class="card" style="margin: 8px">
      <div class="card-body">
        <h5 class="card-title">{{ obj.title }}</h5>
        <p class="card-text">{{ obj.price}}$</p>
        <a href="{{ obj.get_absolute_url }}" class="btn btn-primary">Open product with sale</a>
      </div>
    </div>
  </div>
</div>
    {% endfor %}
{% endblock content %}

